body{
    color: rgb(154, 118, 187);
}
header {
background-color: rgb(112, 11, 11);
background-image: url(images.jpeg);
}
    section{
        color:antiquewhite;
    }
.Ra{
    background-image: url();
}