body{

    color: rgb(251, 138, 0);
    background-image: url(images.jpeg);
}

header {
background-color: rgb(112, 11, 11);

}
    section{
        color:antiquewhite;
    }
.Ra{
    background-image: url();
}